.search_categories {
  font-size: 22px;
  width: 310px;
  padding: 10px 8px 10px 14px;
  background-color: #3e3e3e;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 15px;
  position: relative;
}
